###> symfony/framework-bundle ###
/.env
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/config/jwt/private.pem
/public/bundles/
/public/jwt/private.pem
/var/
/vendor/


###< symfony/framework-bundle ###
/vpn.md
###> lexik/jwt-authentication-bundle ###
/config/jwt/*.pem
###< lexik/jwt-authentication-bundle ###
